body {
    font-family: 'Montserrat', sans-serif;
    max-width: 1500px;
}

.logo {
    position: absolute;
    margin-top: 32px;
    margin-left: 95px;
}

.main_gus {
    position: absolute;
    margin-left: 752px;
}

h1 {
    color: #1B1D1F;
    font-family: "Montserrat";
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
}

p {
    color: #1B1D1F;
    font-family: "Montserrat";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.main-page {
    flex-shrink: 0;
    width: 100%;
    height: 720px;
    background: linear-gradient(271deg, #a5deff 1.14%, #fcfefe 100%);
}

.my_btn {
    border: none;
    border-radius: 8px;
    background: #FF6B0A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: inline-flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #fff;
    margin-top: 32px;
    transition: 0.3s;
    cursor: pointer;
}

.my_btn:hover {
    transform: scale(1.3);
}

.main-page-text-container {
    border-radius: 40px;
    background: #fff;
    padding: 60px;
    box-sizing: border-box;
    position: absolute;
    width: 573px;
    height: 476px;
    display: inline-block;
    margin-left: 95px;
    margin-top: 124px;

}

.gerb {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.main-nav-text {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav-text p,
h2,
h3,
p {
    max-width: 772px;
    text-align: center;
    margin: 0;
}

.main-nav-text p {
    margin-top: 32px;
}

.main-nav-options {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.main-nav-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-nav-card p {
    text-align: center;
    margin-top: 32px;
}

h3 {
    font-weight: 600;
}

.form-page {
    margin-top: 100px;
    padding: 80px 0px;
}

.form {
    background: #fff;
    border-radius: 40px;
    width: 573px;
    padding: 32px 60px 60px 60px;
    margin: auto;
    box-sizing: border-box;
    text-align: center;
}

.form-title {
    color: #1B1D1F;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin: 32px 0 12px 0;
}

.form-descr {
    color: #1B1D1F;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}

.form-input {
    border-radius: 8px;
    border: 1px solid #005BBB;
    background: #fff;
    width: 453px;
    height: 60px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #1B1D1F;
    padding: 0 12px;
}

.form-label {
    color: #1B1D1F;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 8px;
}

.form-field {
    text-align: left;
    margin-bottom: 24px;
}
.gus-anim {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    margin-bottom: auto;
    margin-top: auto;
    width: 100%;
    z-index: 2;
    pointer-events: none;
}