.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-linkedin {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: -37px 0;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -74px 0;
}
.icon-instagram {
  width: 32px;
  height: 32px;
  background-position: -111px 0;
}
.icon-diagram-1 {
  width: 32px;
  height: 32px;
  background-position: -148px 0;
}
.icon-clock-1 {
  width: 32px;
  height: 32px;
  background-position: -185px 0;
}
.icon-antenna-1 {
  width: 32px;
  height: 32px;
  background-position: -222px 0;
}
.icon-astronaut-1 {
  width: 32px;
  height: 32px;
  background-position: -259px 0;
}

